<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629048129398-v5q83eu2kmc974j53qmvs1ak0b77ho4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629048129398-v5q83eu2kmc974j53qmvs1ak0b77ho4u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629048129398-mh3m20s3o3onte4tt8kfhme29k53j82e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZfHlBkXhKwVRo8OSf9S5X1ms4yNTFHqU</string>
	<key>GCM_SENDER_ID</key>
	<string>629048129398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devtechhub.ezSalt</string>
	<key>PROJECT_ID</key>
	<string>ezsalt-iot-dev-env</string>
	<key>STORAGE_BUCKET</key>
	<string>ezsalt-iot-dev-env.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629048129398:ios:ffe293c068ecb8c4dcac57</string>
	<key>DATABASE_URL</key>
	<string>https://ezsalt-iot-dev-env.firebaseio.com</string>
</dict>
</plist>